@font-face {
    font-family: 'LemonMilk';
    src: url('./assets/fonts/lemon_milk/LEMONMILK-Regular.otf') format('opentype'),
         url('./assets/fonts/lemon_milk/LEMONMILK-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
